@if(hasErrorFor())
    <div class="alert alert-danger">
        <h4>有错误发生：</h4>
        <ul>
                <li><i class="glyphicon glyphicon-remove"></i> {{ getErrorFor() }}</li>
        </ul>
    </div>
@endif