@if(hasErrorFor())
    <div class="alert alert-danger">
        <h4>有错误发生：</h4>
        <ul>
            @each(error in old(errors))
                <li><i class="glyphicon glyphicon-remove"></i> {{ error.message }}</li>
            @endeach
        </ul>
    </div>
@endif