<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Laravel 进阶教程</title>
{{ css('https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css') }}
{{ css('app') }}
<!-- Styles -->
</head>

<body>
<div id="app">

    @include('layouts._header')

    <div class="container">
        @include('layouts._message')
        @section('content')
        @endsection
    </div>

    @include('layouts._footer')
</div>

<!-- Scripts -->
{{ script('https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js') }}

{{ script('https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js') }}
</body>
</html>